
header{
    height: 120px;
    background-color: chocolate;
}

#jumbotron{
    /* margin-top: 20px; */
    height: 500px;
    /* background-image: url(../img/jumbo-bg.png);
    background-size: contain;
    background-repeat: no-repeat; */
   background-color: burlywood;
}
/* .ms_box{
    height: 200px;
    width: 250px;
    background-color: crimson;
    border: 1px solid black;
} */

#take2{
    height: 500px;
    background-color: cyan;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#nuove_uscite{    
    background-color: #1F1F1F;
}

.ms_border-radius{
    border-radius: 20px;
}
#play-plus{
    /* height: 250px; */
    background-color: #BEBCBB;
}
#ps-now{
    height: 300px;
    background-color: #161C3B;
}
footer{
    /* height: 600px; */
    background-color: #00439C;
}
.sm_globe{
    height: 20px;
    padding-right: 10px;
}
