
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
header{
    height: 120px;
    /* background-color: chocolate; */
}
footer{
    /* height: 600px; */
    background-color: #00439C;
}

#jumbotron{
    /* margin-top: 20px; */
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
   /* background-color: burlywood; */
   /* position: relative; */
}
#jumbotron img{
    min-height: 50px;
    min-width: 100px;
}
#giochi img:hover{
    transform: translatey(-10%);
    transition: 0.5s;
    box-shadow: 5px 10px 15px #313131;
}

#take2{
    height: 500px;
    background-color: cyan;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
#take2 img{
    max-width: 300px;
}
#nuove_uscite{    
    background-color: #1F1F1F;
}

#play-plus{
    height: 400px;
    background-color: #BEBCBB;
}
#play-plus img{
    max-height: 400px;
    max-width: 600px;
}

#ps-now{
    height: 350px;
    background-color: #161C3B;
}
#ps-now img{
    max-height: 350px;
    max-width: 450px;
}

#sie img{
    min-width: 100px;
    max-width: 150px;
}

#device img {
    opacity: 0.5;
}
#device img:hover {
    opacity: 1.0;    
}

#social img{
    min-width: 100px;
    max-width: 250px;
}

.ms_border-radius{
    border-radius: 20px;
}
.sm_globe{
    height: 20px;
    padding-right: 10px;
}
.sm_orange{
    background-color: #CD3D0F;
}
.ms_active:active{
    color: black;
    border-bottom: 2px solid #0072CE;
}
.sm_trade{
    font-size: 15px;
    vertical-align: super;
}
/* *****debug***** */
/* .ms_returnal{
    position: absolute;
    top: 200px;
} */
/* .ms_box{
    height: 200px;
    width: 250px;
    background-color: crimson;
    border: 1px solid black;
} */