
header{
    height: 120px;
    background-color: chocolate;
}

#jumbotron{
    /* margin-top: 20px; */
    height: 500px;
    /* background-image: url(../img/jumbo-bg.png);
    background-size: contain;
    background-repeat: no-repeat; */
   background-color: burlywood;
}
/* .ms_box{
    height: 200px;
    width: 250px;
    background-color: crimson;
    border: 1px solid black;
} */